numpy==2.0.2
matplotlib==3.9.2
pandas==2.2.3
scipy==1.14.1
scikit-image==0.24.0
opencv-python==4.10.0.84
sknw==0.15
networkx==3.4.2
scikit-learn==1.5.2
rasterio==1.4.2
shapely==2.0.6
libpysal==4.12.1
geopandas==1.0.1
momepy==0.9.0
tqdm==4.67.1
pyqt==5.15.9
jupyterlab==4.3.1
cartopy==0.24.0
pyproj==3.7.0
geemap==0.35.1
geedim==1.9.0
osmnx==2.0.0
matplotlib-scalebar==0.8.1
pystac-client==0.8.6 